# Uncomment this if you have problems with RewriteRule edition. See 'PrettyUrls' on BitWeaver's wiki.
# Options -MultiViews
<IfModule mod_rewrite.c>
	RewriteEngine  on
    RewriteCond	%{SCRIPT_FILENAME}  -f [OR]
    RewriteCond	%{SCRIPT_FILENAME}/index.php    -f
    RewriteRule	^(.*)$            - [L]

	RewriteRule ^edition/([0-9]*)$  edition.php?edition_id=$1  [L,QSA]
	RewriteRule ^([0-9]*)$  		index.php?nl_id=$1  [L,QSA]
</IfModule>
